# BLOQUEO DE BASURA Y PESADOS (ZIPS Y VIDEOS)
*.zip
*.ZIP
*.mp4
*.MP4
*.mov
*.MOV
*.mkv
*.wav
*.HEIC

# BLOQUEO DE CARPETAS PESADAS
/videos/
/public/videos/
/public/videos-compressed/
/AI MIRROR/
/DEPLOY_CPANEL/
/dist/
/node_modules/
/.env

# NO BLOQUEAR EL LOGO
# (Git ahora sí verá los archivos .glb)